.sidebar-content {
  margin: 10px;
}

.about-me {
  margin-top: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.navigation-button {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
